<p id="notice"><%= notice %></p>

<p class="mt-5">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
	<strong>Photo:</strong>
	<%= @post.images %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
